# 0914 4110E233

Python Dictionaries

Dictionary
- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

- Dictionaries are written with curly brackets, and have keys and values:

In [3]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(thisdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}

- Dictionary Items
  - Dictionary items are ordered, changeable, and does not allow duplicates.
  - Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [4]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(thisdict["year"])

高瑞夫 - 4110e233
2022

Duplicates Not Allowed
- Dictionaries cannot have two items with the same key:

In [5]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022,
  "year": 2023
}
print(thisdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2023}

Dictionary Length
- To determine how many items a dictionary has, use the len() function:

In [6]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(len(thisdict))

高瑞夫 - 4110e233
3

Dictionary Items - Data Types
- The values in dictionary items can be of any data type:

In [7]:
print("高瑞夫 - 4110e233")
thisdict = {
  "string": "reeyyybb",
  "int": 1,
  "boolean": True,
  "list": ["reeeyyybb", 1, True]
}
print(thisdict)

高瑞夫 - 4110e233
{'string': 'reeyyybb', 'int': 1, 'boolean': True, 'list': ['reeeyyybb', 1, True]}

type()
- From Python's perspective, dictionaries are defined as objects with the data type 'dict':

In [8]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(type(thisdict))

高瑞夫 - 4110e233
<class 'dict'>

Access Dictionary Items

Accessing Items
- You can access the items of a dictionary by referring to its key name, inside square brackets:

In [9]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(thisdict["Country"])

高瑞夫 - 4110e233
Taiwan

There is also a method called get() that will give you the same result:

In [10]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(thisdict.get("Country"))

高瑞夫 - 4110e233
Taiwan

Get Keys
- The keys() method will return a list of all the keys in the dictionary.

Get Values
- The values() method will return a list of all the values in the dictionary.

Get Items
- The items() method will return each item in a dictionary, as tuples in a list.

In [11]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
#before
print(thisdict.keys()) #get keys
print(thisdict.values()) #get values
print(thisdict.items()) #get items

thisdict["MyName"] = "reeeyyybb"

#after
print(thisdict.keys())
print(thisdict.values())
print(thisdict.items()) #before change

thisdict["year"] = "2023"

print(thisdict.items()) #after change

高瑞夫 - 4110e233
dict_keys(['School', 'Country', 'year'])
dict_values(['KSU', 'Taiwan', 2022])
dict_items([('School', 'KSU'), ('Country', 'Taiwan'), ('year', 2022)])
dict_keys(['School', 'Country', 'year', 'MyName'])
dict_values(['KSU', 'Taiwan', 2022, 'reeeyyybb'])
dict_items([('School', 'KSU'), ('Country', 'Taiwan'), ('year', 2022), ('MyName', 'reeeyyybb')])
dict_items([('School', 'KSU'), ('Country', 'Taiwan'), ('year', '2023'), ('MyName', 'reeeyyybb')])

Check if Key Exists
- To determine if a specified key is present in a dictionary use the in keyword:

In [12]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
if "Country" in thisdict:
  print("Yes, 'country' is one of the keys in the thisdict dictionary")

高瑞夫 - 4110e233
Yes, 'country' is one of the keys in the thisdict dictionary

Change Dictionary Items

Change Values
- You can change the value of a specific item by referring to its key name:

In [13]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
thisdict["year"] = 2023
print(thisdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2023}

Update Dictionary
- The update() method will update the dictionary with the items from the given argument.
- The argument must be a dictionary, or an iterable object with key:value pairs.

In [14]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
thisdict.update({"year": 2023})
print(thisdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2023}

Add Dictionary Items

Adding Items
- Adding an item to the dictionary is done by using a new index key and assigning a value to it:

Update Dictionary
- The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.
- The argument must be a dictionary, or an iterable object with key:value pairs.

In [15]:
print("高瑞夫 - 4110e233")
thisdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}

thisdict["height"] = 168 #adding an item
thisdict.update({"weight": "68"}) #using update()
thisdict.update({"BMI": "24.1"})
print(thisdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022, 'height': 168, 'weight': '68', 'BMI': '24.1'}

Remove Dictionary Items

Removing Items
- There are several methods to remove items from a dictionary:

The pop() method removes the item with the specified key name:

In [16]:
print("高瑞夫 - 4110e233")
thisdict = {
  "string": "reeeyyybb",
  "int": 1,
  "boolean": True,
  "list": ["Hello", 2, False]
}

thisdict.pop("string")
print(thisdict)

高瑞夫 - 4110e233
{'int': 1, 'boolean': True, 'list': ['Hello', 2, False]}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [17]:
print("高瑞夫 - 4110e233")
thisdict = {
  "string": "reeeyyybb",
  "int": 1,
  "boolean": True,
  "list": ["Hello", 2, False]
}

thisdict.popitem()
print(thisdict)

高瑞夫 - 4110e233
{'string': 'reeeyyybb', 'int': 1, 'boolean': True}

The del keyword removes the item with the specified key name:

In [18]:
print("高瑞夫 - 4110e233")
thisdict = {
  "string": "reeeyyybb",
  "int": 1,
  "boolean": True,
  "list": ["Hello", 2, False]
}

del thisdict["int"]
print(thisdict)

高瑞夫 - 4110e233
{'string': 'reeeyyybb', 'boolean': True, 'list': ['Hello', 2, False]}

The del keyword can also delete the dictionary completely:

In [19]:
print("高瑞夫 - 4110e233")
thisdict = {
  "string": "reeeyyybb",
  "int": 1,
  "boolean": True,
  "list": ["Hello", 2, False]
}

del thisdict
print(thisdict)
#the "thisdict" dictionary will be no longer exist.

高瑞夫 - 4110e233

NameError: ignored

The clear() method empties the dictionary:

In [20]:
print("高瑞夫 - 4110e233")
thisdict = {
  "string": "reeeyyybb",
  "int": 1,
  "boolean": True,
  "list": ["Hello", 2, False]
}

thisdict.clear()
print(thisdict)

高瑞夫 - 4110e233
{}

Copy Dictionaries

Copy a Dictionary
- You cannot copy a dictionary simply by typing seconddict = firstdict, because: seconddict will only be a reference to firstdict, and changes made in firstdict will automatically also be made in seconddict.

In [21]:
print("高瑞夫 - 4110e233")
firstdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(firstdict)
seconddict = firstdict
print(seconddict)
seconddict.update({"year": 2023})
print(firstdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2023}

- There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [23]:
print("高瑞夫 - 4110e233")
firstdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(firstdict)
seconddict = firstdict.copy()
print(seconddict)
seconddict.update({"year": 2023})
print(seconddict)
print(firstdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2023}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}

- Another way to make a copy is to use the built-in function dict().

In [24]:
print("高瑞夫 - 4110e233")
firstdict = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}
print(firstdict)
seconddict = dict(firstdict)
print(seconddict)
seconddict.update({"year": 2023})
print(seconddict)
print(firstdict)

高瑞夫 - 4110e233
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2023}
{'School': 'KSU', 'Country': 'Taiwan', 'year': 2022}

Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

Create a Nested Dictionary
- A nested dictionary is created the same way a normal dictionary is created. The only difference is that each value is another dictionary.

In [25]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}

高瑞夫 - 4110e233

The dict() Constructor
- There are several ways to create a nested dictionary using a type constructor called dict().
- To create a nested dictionary, simply pass dictionary key:value pair as keyword arguments to dict() Constructor.

In [26]:
print("高瑞夫 - 4110e233")
D = dict(student1= {'name': 'Juan', 'number': '1'},
     student2= {'name': 'Crisostomo', 'number': '2'},
     student3= {'name': 'Simoun', 'number': '3'})
print(D)

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}}

You can use dict() function along with the zip() function, to combine separate lists of keys and values obtained dynamically at runtime.

In [27]:
print("高瑞夫 - 4110e233")
IDs = ['student1','student2','studet3']

StudentInfo = [{'name': 'Juan', 'number': '1'},
           {'name': 'Crisostomo', 'number': '2'},
           {'name': 'Simoun', 'number': '3'}]

D = dict(zip(IDs, StudentInfo))

print(D)

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'studet3': {'name': 'Simoun', 'number': '3'}}

You’ll often want to create a dictionary with default values for each key. The fromkeys() method offers a way to do this.

In [28]:
print("高瑞夫 - 4110e233")
IDs = ['student1','student2','student3']
Defaults = {'name': '', 'number': '', 'school': 'KSU'}

D = dict.fromkeys(IDs, Defaults)

print(D)

高瑞夫 - 4110e233
{'student1': {'name': '', 'number': '', 'school': 'KSU'}, 'student2': {'name': '', 'number': '', 'school': 'KSU'}, 'student3': {'name': '', 'number': '', 'school': 'KSU'}}

Access Nested Dictionary Items
- You can access individual items in a nested dictionary by specifying key in multiple square brackets.

In [29]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}

print(D['student1']['name'])
print(D['student2']['number'])

高瑞夫 - 4110e233
Juan
2

If you refer to a key that is not in the nested dictionary, an exception is raised.

In [30]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}

print(D['student1']['name'])
print(D['student2']['number'])
print(D['student3']['age']) #KeyError

高瑞夫 - 4110e233
Juan
2

KeyError: ignored

To avoid such exception, you can use the special dictionary get() method. This method returns the value for key if key is in the dictionary, else None, so that this method never raises a KeyError.

In [31]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}

print(D['student1'].get('name'))
print(D['student2'].get('number'))
print(D['student3'].get('age')) #prints None

高瑞夫 - 4110e233
Juan
2
None

Change Nested Dictionary Items
- To change the value of a specific item in a nested dictionary, refer to its key.

In [32]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}

D['student1']['name'] = 'Reyb'
D['student1']['number'] = '999'

print(D['student1'])

高瑞夫 - 4110e233
{'name': 'Reyb', 'number': '999'}

Add or Update Nested Dictionary Items
- Adding or updating nested dictionary items is easy. Just refer to the item by its key and assign a value. If the key is already present in the dictionary, its value is replaced by the new one.

In [33]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}
     
D['student1'] = {'name': 'Reyb', 'number': '999'}
print(D)

高瑞夫 - 4110e233
{'student1': {'name': 'Reyb', 'number': '999'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}}

If the key is new, it is added to the dictionary with its value.

In [34]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'}}
     
D['student4'] = {'name': 'Ibarra', 'number': '4'}
print(D)

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}, 'student4': {'name': 'Ibarra', 'number': '4'}}

Merge Two Nested Dictionaries
- Use the built-in update() method to merge the keys and values of one nested dictionary into another. Note that this method blindly overwrites values of the same key if there’s a clash.

In [35]:
print("高瑞夫 - 4110e233")
D1 = {'student1': {'name': 'Juan', 'number': '1'},
      'student2': {'name': 'Crisostomo', 'number': '2'}}

D2 = {'student2': {'name': 'Reyb', 'number': '2'},
      'student3': {'name': 'Simoun', 'number': '3'}}

D1.update(D2)

print(D1)

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Reyb', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}}

In [36]:
print("高瑞夫 - 4110e233")

#be careful

D1 = {'student1': {'name': 'Juan', 'number': '1'},
      'student2': {'name': 'Crisostomo', 'number': '2'}}

D2 = {'student2': {'name': 'Reyb', 'number': '2'},
      'student3': {'name': 'Simoun', 'number': '3'}}

D2.update(D1)

print(D2)

高瑞夫 - 4110e233
{'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}, 'student1': {'name': 'Juan', 'number': '1'}}

Remove Nested Dictionary Items
- There are several ways to remove items from a nested dictionary.

- Remove an Item by Key
  - If you know the key of the item you want, you can use pop() method. It removes the key and returns its value.

In [37]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'},
     'student4': {'name': 'Ibarra', 'number': '4'}}

x = D.pop('student4')

print(D)

print(x) #prints the removed value

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}}
{'name': 'Ibarra', 'number': '4'}

 - If you don’t need the removed value, use the `del` statement.

In [38]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'},
     'student4': {'name': 'Ibarra', 'number': '4'}}

del D['student4']

print(D)

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}}

- Remove Last Inserted Item
  - The popitem() method removes and returns the last inserted item as a tuple.

In [2]:
print("高瑞夫 - 4110e233")
D = {'student1': {'name': 'Juan', 'number': '1'},
     'student2': {'name': 'Crisostomo', 'number': '2'},
     'student3': {'name': 'Simoun', 'number': '3'},
     'student4': {'name': 'Ibarra', 'number': '4'}}
     
x = D.popitem()

print(D)

print(x) #prints the last removed inserted item

高瑞夫 - 4110e233
{'student1': {'name': 'Juan', 'number': '1'}, 'student2': {'name': 'Crisostomo', 'number': '2'}, 'student3': {'name': 'Simoun', 'number': '3'}}
('student4', {'name': 'Ibarra', 'number': '4'})

Dictionary Methods

- Python has a set of built-in methods that you can use on dictionaries.

In [1]:
print("高瑞夫 - 4110e233")
D = {
  "School": "KSU",
  "Country": "Taiwan",
  "year": 2022
}

a = D.items()
b = D.keys()
c = D.values()

print(a)
print(b)
print(c)

高瑞夫 - 4110e233
dict_items([('School', 'KSU'), ('Country', 'Taiwan'), ('year', 2022)])
dict_keys(['School', 'Country', 'year'])
dict_values(['KSU', 'Taiwan', 2022])