In [5]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2+1):
        result += i
    return result

def main():
    print("Sum from 1 to 123 is", sum(1, 123)) 
    print("Sum from 5 to 10 is", sum(5, 10))
    print("Sum from 50 to 100 is", sum(50, 100))

main() # Call the main function

Sum from 1 to 123 is 7626
Sum from 5 to 10 is 45
Sum from 50 to 100 is 3825

f(101)

In [8]:
def f(n):
   if n == 1:
     return 1
   else:
     return f(n-1) + n

f(101)

5151