# 1102 TEST

#A.

1.
```
Which following is the correct way to create a dictionary in Python?
   (A) students = { 'name' => 'alice' ;  'score' =>60 }
   (B) students = { 'name' = 'alice' ;  'score' =60 }
   (C) students = { 'name' : 'alice' ;  'score' : 60 }
   (D) students = { 'name' => 'alice' ,  'score' =>60 }
   (E) students = { 'name' : 'alice' , 'score' : 60 }
```
ANSWER: E

2.
```
What does the following Python program fragment do?
   s=0
   for i in range (3 , 10) :
        s+=i
   print (s)
   (A) Calculate the sum of 1+2+…+10
   (B) Calculate the sum of 1+4+7+10
   (C) Calculate the sum of 3+4+5+6+…+9
   (D) Calculate the sum of 3+4+5+6+…+10
   (E) Calculate the sum of 0+2+4+6+…+10
```
ANSWER: C

In [ ]:
#EXPLAINATION:
3+4+5+6+7+8+9 #10 is not included

42

In [ ]:
s=0
for i in range (3 , 10) :
      s+=i
print (s)

42

3.
```
What is the output of this code in Python?
      list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
      print (list [ 1 : ])
   (A) [ ]
   (B) [ 'b' ]
   (C) [ 'a' ,  'b' ]
   (D) [ 'b' ,  'c' ,  'd' ,  'e' ]
```
ANSWER: D

In [ ]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

4.
```
What is the output of this code in Python?
        L1 = [ ]
        L1.append ( [1, [2, 3], 4] )
        L1.extend ( [7, 8, 9] )
        print(L1[0][1][1] + L1[2] )
   (A) 3  (B) 8  (C) 11  (D) 38  (E) None of these
```
ANSWER: C

In [ ]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

5.
```
What is the output of this code in python?
        r = lambda q: q * 2
        s = lambda q: q * 3
        x = 2
        x = r (x)
        x = s (x)
        x = r (x)
        print (x)
   (A) 2  (B) 4  (C) 6  (D) 12  (E) 24
```
ANSWER: E

In [ ]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

6.
```
Which of the following conditions correctly describes the output of this code in  Python?
         first = [1 , 2 , 3 , 4 , 5]
         second = first
         second.append (6)
         print (first)
         print (second)
   (A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]
   (B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]
   (C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]
   (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]
   (E) None of these
```
ANSWER: D

In [ ]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

7.
```
If the function 
int volume (int x = 1, int y = 1, int z = 1); 
is called by the expression volume (7,8), 
how many default arguments are used?
(A) None  (B) One  (C) Two  (D) Three
(E) It depends on the runtime environment.
```

ANSWER: B

#B.

B1.What is the output of this code in Python? explain it.
```
# primes.py
primes = []  # this will contain the primes at the end
upto = 100  # the limit, inclusive
for n in range(2, upto + 1):
    is_prime = True  # flag, new at each iteration of outer for
    for divisor in range(2, n):
        if n % divisor == 0:
            is_prime = False
            break
    if is_prime:  # check on flag
        primes.append(n)
print(primes)
```

ANSWER:

In [ ]:
primes = []  # this will contain the primes at the end
upto = 100  # the limit, inclusive
for n in range(2, upto + 1):
    is_prime = True  # flag, new at each iteration of outer for
    for divisor in range(2, n):
        if n % divisor == 0:
            is_prime = False
            break
    if is_prime:  # check on flag
        primes.append(n)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

EXPLAINATION: 
```
# primes.py
primes = []  # this will contain the primes at the end
upto = 100  # the limit, inclusive
for n in range(2, upto + 1):
    is_prime = True  # flag, new at each iteration of outer for
    for divisor in range(2, n):
        if n % divisor == 0:
            is_prime = False # if the remainder of n is equal to 0 then it is not included
            break
    if is_prime:  # check on flag
        primes.append(n) # if is_prime is true or the remainder of n is not equal to 0 then it will append or added in the list
print(primes)
```

B2.What is the output of this code in Python? explain it.
```
# primes.else.py
primes = []
upto = 100
for n in range(2, upto + 1):
    for divisor in range(2, n):
        if n % divisor == 0:
            break
    else:
        primes.append(n)
print(primes)
```

ANSWER:

In [ ]:
# primes.else.py
primes = []
upto = 100
for n in range(2, upto + 1):
    for divisor in range(2, n):
        if n % divisor == 0:
            break
    else:
        primes.append(n)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

EXPLAINATION:
```
# primes.else.py
primes = [] # will contain the prime numbers
upto = 100 # limit
for n in range(2, upto + 1):
    for divisor in range(2, n):
        if n % divisor == 0: # if the remainder of n is equal to 0 then it is not included
            break
    else:
        primes.append(n) # if the remainder of n is not equal to 0 then it will append or added in the list
print(primes)
```

B3.What is the output of this code in Python?explain it.
```
cubes = [x**3 for x in range(1,6)]
print(cubes)
```

ANSWER:

In [ ]:
cubes = [x**3 for x in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

EXPLAINATION:
```
range(1,6) == > 1,2,3,4,5

[x**3 for x in range(1,6)] ==> [1**3 , 2**3 , ...., 5**3]

2**3 = 8

```

#C.

C.Programming Python
```
The Fibonacci numbers may be defined by the recurrence relation
 F_{0}=0, F_{1}=1
and
F_{n} = F_{n-1} + F_{n-2}   for n > 1.

0,1,1,2,3,5,8,......

Under some older definitions, the value  F_{0}=0 is omitted, 
so that the sequence starts with F_{1}=F_{2}=1 and 
the recurrence F_{n}=F_{n-1}+F_{n-2} is valid for n > 2

(1)Write a Python function/Program to Find Fibonacci Numbers using Recursion
(2)use iterative Approach To Find the nth Term Of Fibonacci Sequence(You need to write a function using loop)
```

ANSWERS:

1.

In [ ]:
def f(n):
  if n == 0:
    return 0
  if n == 1:
    return 1
  else:
    return f(n-1) + f(n-2)

f(6) #in this code note that the n starts at 0

2.

In [ ]:
def f(n):
  a = 0
  b = 1
  if n == 0:
    return a
  if n == 1:
    return b
  else:
    for i in range(2,n):
        c = a + b
        a = b
        b = c
    return b
f(7) #in this code note that the n starts at 1