# 1019 4110E233

For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

Print each fruit in a fruit list:

In [ ]:
fruits = ["pineapple", "watermelon", "strawberry"]
for x in fruits:
  print(x)

pineapple
watermelon
strawberry

The for loop does not require an indexing variable to set beforehand.

Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "strawberry":
  print(x)

s
t
r
a
w
b
e
r
r
y

The break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["pineapple", "watermelon", "strawberry"]
for x in fruits:
  print(x)
  if x == "watermelon":
    break

pineapple
watermelon

Exit the loop when x is "banana", but this time the break comes before the print:

In [ ]:
fruits = ["pineapple", "watermelon", "strawberry"]
for x in fruits:
  if x == "watermelon":
    break
  print(x)

pineapple

The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["pineapple", "watermelon", "strawberry"]
for x in fruits:
  if x == "watermelon":
    continue
  print(x)

pineapple
strawberry

The range() Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(10):
  print(x)
# Note that range(10) is not the values of 0 to 10, but the values 0 to 9.

0
1
2
3
4
5
6
7
8
9

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(1, 10), which means values from 1 to 10 (but not including 10):

In [ ]:
for x in range(1, 10):
  print(x)

1
2
3
4
5
6
7
8
9

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(1, 10, 3):

In [ ]:
for x in range(1, 10, 3):
  print(x)

1
4
7

Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(10):
  print(x)
else:
  print("Done!")

0
1
2
3
4
5
6
7
8
9
Done!

Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(10):
  if x == 5: break
  print(x)
else:
  print("Done!")

0
1
2
3
4

Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["small", "delicious", "sweet"]
fruits = ["pineapple", "watermelon", "strawberry"]

for x in adj:
  for y in fruits:
    print(x, y)

small pineapple
small watermelon
small strawberry
cute pineapple
cute watermelon
cute strawberry
black pineapple
black watermelon
black strawberry

The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in ["red", "blue", "yellow"]:
  pass